.main-login{
  background-image: url('../../assets/login/bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login-card{
  width: 40%;
}

@media screen and (max-device-width: 990px)  {
  .login-card{
    width: 75%;
  }
}